<!-- <h1 class="text-primary bg-light st">{{title}}</h1>
<p *ngIf="status ; else noUser">{{userCreatedStatus}}</p>
<p *ngIf="!status">No user created</p>
<ng-template #noUser>No User </ng-template>
<label for="">user name</label>
<input type="text" class="form-control" (input)="onInput($event)">
<input type="text" class="form-control" [(ngModel)]="userName">
<p>{{userName}}</p>
<div [ngStyle]="{'color':getColor()}" ngClass="{{us}}">user is {{us}}</div>
<button class="btn btn-primary" (click)="userStatus()" [disabled]="allowUser">click me</button>
<div *ngFor="let user of users">{{user}}</div> -->
<!-- <app-login></app-login> -->
<app-home></app-home>